<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
.custom-link {
  position: relative;
  color: white; /* Texto siempre blanco */
  transition: background-color 0.3s ease;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.custom-link:hover {
  background-color: rgba(0, 0, 0, 0.2); /* Fondo oscuro semitransparente */
}

.custom-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #0d6efd; /* Azul de Bootstrap */
  transition: width 0.3s ease;
}

.custom-link:hover::after {
  width: 100%;
}

.background-blur {
  background-image: url('https://palacionacional.gob.do/assets/Historia.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(5px); /* difumina */
  opacity: 0.6;       /* opcional: transparencia */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* para que quede detrás del contenido */
}

.contenido-principal {
  z-index: 1;
}


</style>

<div class="background-blur"></div>

<div class="contenido-principal position-relative">
  <nav class="navbar navbar-expand-lg bg-danger shadow py-2">
    <div class="container">
      <a class="navbar-brand text-white fw-bold" href="home">ASOCIACION DE SERVIDORES PUBLICOS</a>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link custom-link" href="home">Inicio</a>
        </li>
      </ul>
    </div>
  </nav>


  <main class="main">
    <div>
    </div>
  </main>
</div>




<router-outlet />
